site_name: MolOP Documentation
site_dir: public
repo_url: https://github.com/gentle1999/MolOP.git
repo_name: gentle1999/MolOP.git
site_url: https://gentle1999.github.io/MolOP/

theme:
  name: "material"
  features:
    - navigation.footer
    - header.autohide
    - announce.dismiss
    - search.suggest
    - search.highlight
    - search.share
  icon:
    repo: fontawesome/brands/github

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gentle1999/MolOP.git
    - icon: fontawesome/solid/paper-plane
      link: mailto:mj_t@zju.edu.cn

copyright: Copyright &copy; 2023 - 2024 Miao-jiong Tang

plugins:
  - search
  - mkdocstrings
  - mkdocs-jupyter
  - i18n:
      default_language: zh
      languages:
        en: English
        zh: 中文

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:  #Markdown扩展列表
  - abbr
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:  
      permalink: True #在 toc 扩展中启用永久链接
      separator: "_"  #分割线符号
  - smarty  #启用 SmartyPants 排版扩展
  - admonition  #通过不同颜色现实告警、备注信息
  - pymdownx.betterem
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      use_pygments: true
      pygments_lang_class: true  
      auto_title: true
      linenums: true
      linenums_style: pymdownx-inline
      line_spans: __span
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
